.CodeMirrorEditor {
    position: relative;
    height: 100%;

    // remove scrollbar from editor//
    ::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    /////////////////////////////////

    .CodeMirrorEditor_header {
        top: 0;
        left: 0;
        transform: translateY(-105%);
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .CodeMirrorEditor_lang {
            opacity: 0.5;
            letter-spacing: 2px;
            margin-left: 5px;
            font-size: 12px;
            font-family: 'Roboto';
            font-weight: 500;
            color: white;
            text-transform: uppercase;
        }

        .CodeMirrorEditor_header_copy {
            cursor: pointer;
            opacity: 0.5;
            letter-spacing: 2px;
            margin-left: 5px;
            font-size: 11px;
            font-family: 'Roboto';
            font-weight: 500;
            color: white;
            text-transform: uppercase;
            transition: all 250ms;

            &:hover {
                opacity: 1;
            }
        }
    }

}


@media (max-width: 1300px) {
    .CodeMirrorEditor {
        height: 70vh;
        width: 49% !important;
    }
}