.CodeMirrorEditor {
    height: 100%;

    .CodeMirrorEditor_lang {
        opacity: 0.5;
        letter-spacing: 2px;
        margin-left: 5px;
        font-size: 12px;
        font-family: 'Roboto';
        font-weight: 500;
        color: white;
        text-transform: uppercase;
    }
}